* {
    font-size: 62.5%;
    box-sizing: border-box;
    word-break: keep-all;
}

h1,h2,h3,h4,h5 {
    margin: 0;
}

@font-face {
    font-family: 'light';
    src: url('../universnextpro-light-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'medium';
    src: url('../universnextpro-medium-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'regular';
    src: url('../universnextpro-regular-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

h1 {
    font-family: 'medium';
    font-size: 4rem;
    line-height: 39px;
}

h2 {
    font-family: 'light';
    font-size: 4rem;
    line-height: 39px;
    display: inline-block;
}

span {
    font-family: 'medium';
    font-size: 2rem;
    line-height: 22px;
    letter-spacing: 0.5px;
}

/* hr */
hr {
    border: 1px solid black;
    margin-left: 10px;
    margin-right: 10px;
}

/* img */
img {
    width: 100%;
}
.img-wrapper {
    width: 64px !important;
}

/* box */
.ticket-container {
    display: flex;
    flex-direction: row;
    background-color: #ffc42e;
    padding: 24px 30px;
    height: 400px;
    max-width: 1080px;
}

.ticket-container div {
    display: flex;
    width: fit-content;
}

.ticket-1st {
    /* max-width: 300px; */
    flex-basis: 230px;
}

.ticket-2nd {
    flex-basis: 200px;
}

.ticket-3rd {
    flex-flow: column nowrap;
    gap: 48px;
}
.ticket-4th {
    flex-direction: column;
    justify-content: space-between;
    /* max-width: 800px; */
    /* flex-basis: 800px; */
    flex-grow: 1;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    flex: 1;

}
.ticket-4th > h1 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    flex: 1;
}

/* 왜 두번 걸어줘야되지??? why?? */

#ticket-date {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    /* flex: 1; */
}

.ticket-4th > h2 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    /* flex: 1; */
}

/* room number card */
.roomnumber-container {
    width: 800px;
}



.number {
    font-size: 12rem;
    font-family: 'medium';
    letter-spacing: -17px;
    background-color: pink;
    height: 270px;
    padding-left: 2rem;
}

.roomnumber-text {
    font-family: 'medium';
    font-size: 2rem;
    line-height: 22px;
    letter-spacing: 0.5px;
    background-color: aquamarine;
    padding-left: 2rem;
    padding-top: 2rem;
    height: 270px;
}
