* {
    font-size: 62.5%;
    box-sizing: border-box;
    word-break: keep-all;
}

:root {
    --black: #161616;
    --white: #fff;
    --pink: #ff7189;
}

h1, h2, h3, h4, h5 {
    margin: 0;
}

body {
    margin: 0;
}

.body {
    background-color: var(--black);
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

@font-face {
    font-family: 'light';
    src: url('../universnextpro-light-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'medium';
    src: url('../universnextpro-medium-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'regular';
    src: url('../universnextpro-regular-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

h1 {
    font-family: 'medium';
    font-size: 4rem;
    line-height: 39px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

h2 {
    font-family: 'light';
    font-size: 4rem;
    line-height: 39px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
}

span {
    font-family: 'medium';
    font-size: 2rem;
    line-height: 22px;
    letter-spacing: 0.5px;
}

/* hr */
hr {
    border: 1px solid var(--black);
    margin-left: 10px;
    margin-right: 10px;
}

/* img */
img {
    width: 100%;
}

.img-wrapper {
    width: 64px !important;
}

/* ticket */
.ticket-container {
    display: flex;
    flex-direction: row;
    background-color: #ffc42e;
    padding: 24px 30px;
    height: 400px;
    width: 100%; /* Add this line to make the container flexible */
    max-width: 1080px; /* Add this line to limit the maximum width */
    box-shadow: 0 0 50px 12px #ffffff39;
}

.ticket-container > div {
    display: flex;
    width: fit-content;
}

.ticket-1st {
    flex-basis: 230px;
}

.ticket-2nd {
    flex-basis: 200px;
}

.ticket-3rd {
    flex-flow: column nowrap;
    gap: 48px;
}

.ticket-4th {
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
    overflow: hidden;
    min-width: 0; /* Add this line to allow shrinking */
}

.ticket-4th > h1,
.ticket-4th > h2 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* room number card */
.roomnumber-container {
    width: 800px;
    cursor: pointer;
    box-shadow: 0 0 50px 12px #ffffff39;
}

.number {
    font-size: 14rem;
    font-family: 'medium';
    letter-spacing: -2.5rem;
    background-color: #ff7189;
    height: 270px;
    padding-left: 2rem;
    font-variant-numeric: tabular-nums;
    font-feature-settings: "tnum" 1;

}

.roomnumber-text {
    font-family: 'medium';
    font-size: 2rem;
    line-height: 22px;
    letter-spacing: 0.5px;
    background-color: white;
    padding-left: 2rem;
    padding-top: 2rem;
    height: 270px;
}
